<footer class="footer">
    <div class="container">
        <div class="footer-container">
            <ul class="list-inline">

                <li>
                    <a href="mailto:alex@abnt.fr">
                        <i class="fa fa-envelope-o"></i>
                    </a>
                </li>

                <li>
                    <a href="/AlexisBoissonnat_Resume.pdf">
                        <i class="fa fa-file-pdf-o"></i>
                    </a>
                </li>

                <li>
                    <a href="https://github.com/boissonnat">
                        <i class="fa fa-github"></i>
                    </a>
                </li>

                <li>
                    <a href="https://fr.linkedin.com/pub/alexis-boissonnat/3/615/a22">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </li>

                <li>
                    <a href="https://twitter.com/AlexBoissonnat">
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>

                <li>
                    <a href="https://instagram.com/alexboiss/">
                        <i class="fa fa-instagram"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>
