---
layout: default
---

<div class="about">
    <div class="col-md-3">
        <div class="info">
            <img src="http://www.gravatar.com/avatar/67a67f020298c60c3f689887e43a4e68?s=400">
            <dl class="dl-horizontal">
                <dt class="col-sm-3">Phone:</dt>
                <dd class="col-sm-9"><a href="tel:+(33)6 10 30 76 24">+(33)6 10 30 76 24</a></dd>

                <dt class="col-sm-3">Email:</dt>
                <dd class="col-sm-9"><a href="mailto:alex@abnt.fr">alex@abnt.fr</a></dd>
            </dl>
        </div>
    </div>

    <div class="col-md-9">
        {{ content }}
    </div>

</div>